.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #171717cc;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1000;
}

.Modal {
  width: 100%;
  max-width: 500px;
  height: 60%;
  background: #fff;
  border-radius: 12px 12px 0 0;
  padding: 16px;
  font-family: "SF Pro Display";
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-bg-primary);

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 23.87px;
    text-align: center;
    text-decoration-skip-ink: none;
  }

  &__button-title {
    font-family: "SF Pro Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.enter {
  .Overlay {
    opacity: 0;
  }
  .Modal {
    opacity: 0;
    transform: translateY(100%);
  }
}

.enterActive {
  .Overlay {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .Modal {
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.4s ease,
      transform 0.4s ease;
  }
}

.exit {
  .Overlay {
    opacity: 0.8;
  }
  .Modal {
    opacity: 1;
    transform: translateY(0);
  }
}

.exitActive {
  .Overlay,
  .Modal {
    transition: all 0.4s ease;
  }

  .Overlay {
    opacity: 0;
  }

  .Modal {
    opacity: 0;
    transform: translateY(100%);
  }
}

.Select {
  button {
    border: none;
  }
}

.SelectArrow {
  margin-right: 16px;
}

.SelectLabel {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.SelectOption {
  font-family: "SF Pro Display";
  font-weight: 500;
}
