.Main-page {
  flex: 1;
  padding: 15px;
}

.List-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border: 2px solid var(--color-bg-secondary);
  border-bottom: none;
  border-style: solid;
  border-color: #24232d;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  scroll-margin: 20px;

  img {
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 12px;
    margin-top: 30px;
  }

  &::-webkit-scrollbar-thumb {
    background: #4f5155;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
