@use "reset";
@use "variables";

@font-face {
  font-family: "UNCAGE Bold";
  src: url("../fonts/UNCAGE-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
  font-style: normal;
  font-weight: 400;
}

html,
body,
#root {
  height: 100vh;
  background-color: var(--color-bg-primary);
}

html,
body,
#root {
  overflow: hidden !important;
  --chakra-colors-color-palette-fg: #fff;
  --chakra-colors-fg-muted: #8c8c8c;
  --chakra-colors-color-palette-solid: 4F5155;
  --chakra-colors-gray-contrast: var(--color-bg-secondary);
  --chakra-colors-gray-solid: var(--color-bg-secondary);
}

.AppLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  color: var(--color-txt-active);
}

.ContentWrapper {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 60px;
}

.ContentWrapper::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
