@use "reset";
@use "variables";

@font-face {
  font-family: "UNCAGE Bold";
  src: url("../fonts/UNCAGE-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
  font-style: normal;
  font-weight: 400;
}

html,
body,
#root {
  height: 100vh;
  background-color: var(--color-bg-primary);
}

html,
body,
#root {
  overflow: hidden !important;
  --chakra-colors-color-palette-fg: #fff;
  --chakra-colors-fg-muted: #8c8c8c;
  --chakra-colors-color-palette-solid: 4F5155;
}

.AppLayout {
  display: flex;
  flex-direction: column;
  height: 100vh; // занимаем весь экран
  overflow: hidden; // чтобы внешний скролл не вмешивался
}

.ContentWrapper {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; // плавный скролл на iOS
  padding-bottom: 60px; // чтобы контент не уходил под таб бар, если таббар фиксированный
}
